# Python
__pycache__/
*.pyc
*.pyo
.venv/
.env

# Node
node_modules/
dist/
.env.local

# IDE
.vscode/
.idea/
*.swp


.env
service-account.json
node_modules
backend/.env
frontend/.env.example

kt-logger-setup
kt
implementation.md
tasks.md
DONOT DO ANY CHANGES_when I GIVE ACCESS TO AN INSTRUCTOR_IS THERE A POSSIBILITY THAT WE CAN MAP MODULES THAT THEY TAKE_ ARRAY _ Comma seperated.md